<div class="container" style="margin-top: 5rem;">
  <div class="card mb-3">
    <svg style="margin-left: auto; margin-right: auto; margin-top: 25px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--carbon" width="150" height="150" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentColor" d="m22 27.18l-2.59-2.59L18 26l4 4l8-8l-1.41-1.41L22 27.18z"></path><path fill="currentColor" d="M25 5h-3V4a2.006 2.006 0 0 0-2-2h-8a2.006 2.006 0 0 0-2 2v1H7a2.006 2.006 0 0 0-2 2v21a2.006 2.006 0 0 0 2 2h9v-2H7V7h3v3h12V7h3v11h2V7a2.006 2.006 0 0 0-2-2Zm-5 3h-8V4h8Z"></path></svg>
    <h5 style="text-align: center;" class="card-title">Task List</h5>

    <div class="card-body">

      <app-tasks></app-tasks>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>

  </div>
</div>
